/* Facebook Styles */
#pagelet_ticker, .fbSidebarGripper, div[id^="topnews"] {
  display: none;
}

/* Focusbook Styles */
#focus-container {
  background: #fff;
  border: 1px solid;
  border-color: #e9eaed #dfe0e4 #d0d1d5;
  -webkit-border-radius: 3px;
}
.focus-content {
  padding: 12px;
  text-align: center;
}
.focus-title {
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
}
.focus-subtitle {
  font-size: 18px;
  font-weight: 100;
}
.focus-subtitle span {
  width: 180px;
  display: inline-block;
  border-bottom: 1px solid black;
  font-size: 20px;
  font-family: monospace;
}
.focus-content img {
  width: 80px;
  padding: 24px 0;
  display: inline-block;
}
