body {
    font-family: helvetica, arial, sans-serif;
    text-align: center;
    background: #E9EAED;
}
.save {
    width: 120px; height: 40px;
    margin: 20px auto;
    display: block;
    color: white;
    background: #3B5998;
    border: none;
    border-radius: 2px;
}
.file-preview {
    width: 470px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid;
    border-color: #e9eaed #dfe0e4 #d0d1d5;
    -webkit-border-radius: 3px;
}