body {
    margin: 0; padding: 0;
    background: white;
}
.settings {
    width: 130px;
    padding: 10px 20px;
    text-align: center;
}
.settings>a {
    text-decoration: none;
    outline: 0;
}
.settings>a>.ion-settings {
    font-size: 20px;
    vertical-align: middle;
    color: #3B5998;
}
.settings>a>.text {
    margin-left: 10px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    vertical-align: middle;
    color: #111;

}